<footer class="mt-28">
    <div class="px-4 sm:px-10">
      <div class="grid max-sm:grid-cols-1 max-xl:grid-cols-2 xl:grid-cols-5 gap-8 max-w-7xl mx-auto">
        <div class="xl:col-span-2">
          <a [routerLink]="['/']" class="text-3xl font-bold text-blue-800">Stream</a>
          <p class="mb-2">
            From tech innovations to social enterprises, the diversity of projects is matched only by the variety 
            of funding options available, including both traditional equity investments and straightforward donations
          </p>
        </div>
  
        <div>
          <h4 class="text-xl font-semibold mb-6">Services</h4>
          <ul class="space-y-4">
            <li>
              <a [routerLink]="['/web-development']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Organizations
              </a>
            </li>
            <li>
              <a [routerLink]="['/mobile-development']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> StartUps
              </a>
            </li>
            <li>
              <a [routerLink]="['/ui-ux']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Projects
              </a>
            </li>
            <li>
              <a [routerLink]="['/digital-marketing']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Transactions
              </a>
            </li>
          </ul>
        </div>
  
        <div>
          <h4 class="text-xl font-semibold mb-6">Resources</h4>
          <ul class="space-y-4">
            <li>
              <a [routerLink]="['/webinars']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Webinars
              </a>
            </li>
            <li>
              <a [routerLink]="['/ebooks']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Ebooks
              </a>
            </li>
            <li>
              <a [routerLink]="['/templates']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Templates
              </a>
            </li>
            <li>
              <a [routerLink]="['/tutorials']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Tutorials
              </a>
            </li>
          </ul>
        </div>
  
        <div>
          <h4 class="text-xl font-semibold mb-4">About Us</h4>
          <ul class="space-y-4">
            <li>
              <a [routerLink]="['/our-story']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Our Story
              </a>
            </li>
            <li>
              <a [routerLink]="['/mission-values']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Mission and Values
              </a>
            </li>
            <li>
              <a [routerLink]="['/team']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Team
              </a>
            </li>
            <li>
              <a [routerLink]="['/testimonials']" class="hover:text-blue-600 flex items-center gap-2">
                <i class="pi pi-chevron-right"></i> Testimonials
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <hr class="my-6" />
    <p class='text-center mb-6'>
      © 2024 <a href='https://readymadeui.com/' target='_blank' class="hover:underline mx-1">Stream</a> All Rights Reserved.
    </p>
  </footer>  